.wrap {
	background-color: var(--color-hero);
	height: 100vh;
	max-height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	& > div {
		position: relative;
		> div:first-child {
			animation-delay: 0.2s;
		}
		> div:last-child {
			position: absolute;
			background-color: #fff;
			top: 0;
			bottom: 0;
			animation-delay: 0.2s;
		}
	}
	.start-btn {
		border: 2px solid #fff;
		outline: 2px solid transparent;
		padding: 12px 35px;
		border-radius: 50px;
		margin-top: 12px;
		transition: border-color 0.2s ease, background-color ease,
			outline-color 0.5s ease;
		animation-delay: 1.5s;
		&:hover {
			color: #fff;
			background-color: var(--color-top);
			outline-color: var(--color-top);
			border-color: var(--color-top);
		}
	}
	> div:last-child {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
		transform: translateY(50%);
		.item {
			padding: 30px 20px 20px;
			font-weight: 600;
			color: #fff;
			font-size: 2rem;
			flex-basis: 19%;
			text-align: center;
			border-radius: 10px;
			transition: transform 0.3s ease;
			> * {
				margin-bottom: 20px;
			}
			&:hover {
				transform: translateY(-5%);
			}
		}
	}
}
