.wrap {
	background-color: var(--color-hero);
	padding: 25px 0;
	> div > div {
		> * + * {
			margin-left: 32px;
		}
		&:last-child {
			padding-bottom: 3px;
		}
	}
	.search-btn {
		border: 2px solid #fff;
		padding: 0 5px;
		position: relative;
		z-index: 1;
		margin-right: 44px;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 100%;
			background-color: var(--color-yellow);
			transition: right 0.2s ease;
		}
		&:hover {
			color: #fff;
			border-color: var(--color-yellow);
			&::before {
				right: 0;
			}
		}
	}
}
