.wrap {
	background-color: var(--color-top);
	> div {
		div + div {
			margin-left: 33px;
		}
		> div:last-child {
			margin-left: 42px;
			> span {
				margin: 0 8px;
				width: 1px;
				background-color: var(--color-yellow);
				height: 10px;
				display: inline-block;
			}
		}
	}
}
